<div *ngIf="stats$ | async as stats" class="sidebar">
    <h1>Fall Guy Stats</h1>
    <p class="byline">by @lealeelu and @leekydesu</p>
    <div class="content-block today-win-rate">
        <h2>Today</h2>
        <p>{{stats.todayStats.crownCount}} crowns / {{stats.todayStats.episodeCount}} episodes</p>
        <p *ngIf="showCheaterCount">Cheaters: {{stats.todayStats.cheaterCount}}</p>
    </div>
    <div class="content-block season-win-rate">
        <h2>Season</h2>
        <p>{{stats.seasonStats.crownCount}} crowns / {{stats.seasonStats.episodeCount}} episodes</p>
        <p>Rounds Since Crown: 5</p>
        <p *ngIf="showCheaterCount">Cheaters: {{stats.seasonStats.cheaterCount}}</p>
    </div>
    <div class="content-block current-round">
        <h2>Slime Climb Stats</h2>
        <div class="icon-row">
            <span class="icon icon-hexagon icon-gold">5</span>
            <span class="icon icon-hexagon icon-silver">2</span>
            <span class="icon icon-hexagon icon-bronze">3</span>
            <span class="icon icon-hexagon icon-pass">10</span>
            <span class="icon icon-hexagon icon-fail">2</span>
        </div>
    </div>
    <div *ngIf="showLastEpisode">
        <h2>Last Episode</h2>
        <p></p>Crowns: {{lastEpisode.Fame}}
        
        <h2>Rounds</h2>
        <div *ngFor="let round of lastEpisode.Rounds; index as i">
            <p></p>Round {{i}} : {{round.roundCode}} ----------
            <p></p>Qualified: {{round.qualified}}
        </div>
    </div>
</div>

