/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css2?family=Titan+One')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans')

@font-face 
    font-family: 'boldenvan'
    src: url('assets/fonts/boldenvan/Boldenvan.ttf') format('truetype')

@font-face 
    font-family: 'rolling'
    src: url('assets/fonts/rolling-no-one/RollingNoOne-ExtraBold.ttf')


$transparent-gray:rgba(20,20,20,.8)

$gold:rgb(255, 215, 0)
$silver:rgb(192, 192, 192)
$bronze:rgb(205, 127, 50)
$pass-green:#00EB69
$fail-red:rgb(230, 0, 0)

//fall guy colors
$orange-sky: #FFC564
$offensive-pink: #FF4CBF
$yellow-for-the-lose: #FEE645
$baby-blue: #5AD3FD
$adult-blue: #2AA9FF
$senior-blue: #002A8A
$not-quite-black: #222126
$shadow-of-blue: #516B91
$party-purple: #A64FDD

#wrapper
    position: absolute
    top: 0
    right: 0
    left: 0
    margin: 0 auto

body
    margin: 0
    font-family: "Open Sans"
    
@mixin headers
    font-family: 'Titan One'
    font-size: 40px
    font-variant-caps: all-small-caps
    background-color: $not-quite-black
    line-height: 110%
    word-spacing: 2px
    letter-spacing: 1px
    
h1
    @include headers
    margin-block-start: 0
    margin-block-end: 5px
    padding: 8px 0 18px 15px
    border-radius: 0 30px 30px 0
    border: 8px solid white
    border-left-width: 0
    width: 110%
h2
    @include headers
    padding: 2px 0 10px 10px
    margin-block-start: 5px
    margin-block-end: 5px
p
    //font-variant-caps: all-small-caps
    padding-left:15px    
    margin-block-start: 0em
    margin-block-end: 0em
    font-size: 20px
    font-weight: bold
    letter-spacing: 1px

.sidebar
    //background-color: $transparent-gray
    color: white
    width: 300px
    height: 100%
    //padding: 0px 0px 20px 30px
    background-color: $party-purple
    border: 8px solid white
    border-radius: 0 30px 30px 0
    border-color: white
    border-width: 0px 8px 8px 0

//.content-block

.byline
    font-size: 18px
   

//.today-win-rate

//.season-win-rate

//.rounds-since-crown

.icon
    display: inline-block
    
.current-round
    vertical-align: top
    
.icon-row 
    padding: 2px 10px 10px 10px 
    font-size: 25px
    font-weight: bold

.badge-count
    padding-right: 8px

.icon-hexagon
    background-size: contain
    height: 28px
    width: 26px
    
.icon-crown
    background-image: url('assets/img/gold.png')
    
.icon-gold
    background-image: url('assets/img/gold.png')
.icon-silver
    background-image: url('assets/img/silver.png')
.icon-bronze
    background-image: url('assets/img/bronze.png')

.icon-pass
   background-image: url('assets/img/passed.png')
.icon-fail
    background-image: url('assets/img/failed.png')

