/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto')

$transparent-gray:rgba(20,20,20,.8)

$gold:rgb(255, 215, 0)
$silver:rgb(192, 192, 192)
$bronze:rgb(205, 127, 50)
$pass-green:#00EB69
$fail-red:rgb(230, 0, 0)

//fall guy colors
$orange-sky: #FFC564
$offensive-pink: #FF4CBF
$yellow-for-the-lose: #FEE645
$baby-blue: #5AD3FD
$adult-blue: #2AA9FF
$senior-blue: #002A8A
$not-quite-black: #222126
$shadow-of-blue: #516B91
$party-purple: #A64FDD

#wrapper
    position: absolute
    top: 0
    right: 0
    left: 0
    margin: 0 auto

body
    font-family: "Roboto"
    font-size: 15px
    font-weight: 100
    margin: 0
    vertical-align: top
h1
    font-size: 25px
    margin-block-end: 0
    font-variant-caps: all-small-caps
h2
    font-size: 20px
    font-weight: bold
    margin-block-start: 2px
    margin-block-end: 4px
    font-variant-caps: all-small-caps

.sidebar
    background-color: $transparent-gray
    color: white
    width: 250px
    height: 100%
    padding: 15px 30px 40px 30px

.byline
    font-size: 15px

.content-block
    //margin-top: 10px
    //border-top: 1px white solid
    padding: 10px 0 10px 0
//.today-win-rate

//.season-win-rate

//.rounds-since-crown

.icon
    display: inline-block
    width: 30px
    height: 27px
    margin: 0 5px 0 5px

.current-round
    vertical-align: top
    
.icon-row 
    padding-top: 5px

.icon-hexagon
    -webkit-mask-image: url('assets/icons/hexagon.svg')
    mask-image: url('assets/icons/hexagon.svg')
    //-webkit-mask-origin: 3px 2px
    //-webkit-text-stroke-width: 1px
    //-webkit-text-stroke-color: white
    font-weight: bolder
    font-size: 20px
    color: black
    text-align: center
    padding: 3px 0 0 0
    
.icon-crown
    -webkit-mask-image: url('assets/icons/crown.svg')
    mask-image: url('assets/icons/crown.svg')
    
.icon-gold
    background-color: $gold
.icon-silver
    background-color: $silver
.icon-bronze
    background-color: $bronze

.icon-pass
    background-color: $pass-green
.icon-fail
    background-color: $fail-red

